<div class="row">
  <div class="col-md-9">
    <h1 class="display-4">About Us</h1>
    <p class="lead">We are a goal and tech oriented organization with the best solutions in the development industry. We train the best developer, data scientist, database administrators that the job market would love to hire. We go with the current trend in the technology and not filling you with outdated syllabus like what is seen to happen in the most of the university cirriculum. </p>
  </div>
  <div class="col-md-3">
    <img src="/img/programmers 8.jpg" class="about-us-img" alt="Us">
  </div>
</div>
<h3>Contact us</h3>
<ul class="list-group">
  <li class="list-group-item">Location: Kenyatta University</li>
  <li class="list-group-item">Street: Off Thika SuperHighway</li>
  <li class="list-group-item">City: Nairobi Kenya</li>
  <li class="list-group-item">Phone: 0719418656</li>
</ul>
<div>
  <h1 class="text-primary">Developers</h1>
  
</div>