<header class="header">
  <div class="img-wrap">
    <img src="/img/programmers 5.jpeg" alt="programmers">
  </div>
  <div class="background-wrapper"></div>
  <div class="header-content">
    <h1>We build our team members and utilize their skills effectively</h1>
    <p>Our company focus more building each employee to ensure best provision of services at all levels of management. We believe in team work and team work is utmost power</p>
    <a href="/about" class="btn btn-info btn-sm mt-4">Read More</a>
  </div>
</header>
<div class="section mt-4">
  <h1 class=" text-primary mb-5"><i class="fas fa-cogs"></i> Services</h1>
  <p>We offer some of the best courses in technology that enables you have the skillset ready for job market</p>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <i class="fas fa-code fa-5x" style="color: #4B8BBE;"></i>
      <h4>Web Development</h4>
      <p>Modern web development courses with Django, Vanilla JavaScript, Angular, React, Vue, Nodejs for backend integration API endpoints and python too for building robust RESTFULL APIs for your app, from beginner's level to mastery. </p>
    </div>
    <div class="col-md-4">
      <i class="fab fa-android fa-5x" style="color: green;"></i>
      <h4>Mobile Development</h4>
      <p>Mobile development for android with Java as the core langauge.You will be able to build  real world projects mobile applications to solve real problems. Course taught by experts</p>
    </div>
    <div class="col-md-4">
      <i class="fab fa-python fa-5x" style="color: #4B8BBE;"></i>
      <h4>Data Science & Analytics</h4>
      <p>Data Science a skillset for every developer and programmer. Build real models with Python as the core language, be able to manipulate data with SQL on MySQL database.</p>
    </div>
  </div>
</div>
