<section class="services">
  <img src="/img/lab 15.png" alt="lab" class="showcase-img">
  <div class="content">
    <h3 class="text-primary">Our Esteem Customer is served with the best from us</h3>
  </div>
</section>
<div class="section-a">
  <div class="row">
    <div class="col-md-4">
      <h3 class="text-primary">Web Development</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis rerum quas repellendus minus deserunt iste magni, recusandae pariatur quos numquam.</p>
    </div>
    <div class="col-md-4">
      <h3 class="text-primary">Mobile Development</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis rerum quas repellendus minus deserunt iste magni, recusandae pariatur quos numquam.</p>
    </div>
    <div class="col-md-4">
      <h3 class="text-primary">Data Science</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis rerum quas repellendus minus deserunt iste magni, recusandae pariatur quos numquam.</p>
    </div>
  </div>
</div>